<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>

        <property name="connection.driver_class">org.sqlite.JDBC</property>
        <property name="connection.url">jdbc:path_to_database</property> <!-- TODO: create config with paths etc-->
        <property name="dialect">org.hibernate.community.dialect.SQLiteDialect</property>

        <property name="hibernate.connection.pool_size">1</property>
        <property name="hibernate.show_sql">false</property>

        <mapping class="derivatives.Bond"/>
    </session-factory>
</hibernate-configuration>